*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  background-color: rgb(8, 69, 60);
  w
}
nav .logo{
  font-size: 30px;
  color: white;
}
