*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}

body{
    min-height: 100vh;
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px ;
}














