*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

header{
    width: 100%;
    height: 80px;
    
    background-color: cadetblue;


}
nav{ width: 85%;
    margin: 0 auto;
    li


}

header nav ul{
    float: right;
}